header {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-list li {
    color: var(--color1);
    font-size: 19px;

    a {
        color: inherit;
    }

    &:hover {
        color: var(--color2);
    }
}

.mini-logo {
    width: 150px;
    height: auto;
}

#menu-icon {
    font-size: 34px;
    color: white;
    cursor: pointer;
    display: none;
}

.mobile-menu {
    position: absolute;
    width: 100vw;
    display: none;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
        margin-bottom: 8px;
        padding: 2px 5px;
    }

    :hover {
        background-color: var(--color1);
    }
}

.modal-open {
    display: block;
}

@media(max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .footer-nav {
        display: block;
    }

    #mini-logo-nav {
        width: 140px;
    }

    nav {
        display: none;
    }
}